<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


<!--    Baseball class-->
    <bean id="myFortune"
          class="HappyFortuneService">
    </bean>

    <bean id="myCoach"
          class="BaseballCoach">
        <constructor-arg ref="myFortune" />
    </bean>

<!--    TrackCOach Class -->
    <bean id="myTrackCoach"
          class="TrackCoach">
        <constructor-arg ref="myFortune" />
    </bean>

    <bean id="myCricketCoach"
          class="CricketCoach">
<!--        Set up Setter Injection-->
        <property name="fortuneService" ref="myFortune" />
    </bean>





    <!-- define the dependency -->



</beans>





